.innatedropdown {
    position: relative;
    display: inline-block;
    margin-left: 12.5px;
    width: calc(100% - 2*12.5px);
    outline: 2px outset white;
}

.innatebtn {
    background-color: #ffcb7b;
    color: black;
    width: 100%;
    padding: 20px;
    font-size: 22.5px;
    border: none;
    cursor: pointer;
}

.innatebtn:hover {background-color: darkgoldenrod;}

.innate-content {
    display: none;
    position: absolute;
    margin-top: 7.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    outline: 2px outset black;
    z-index: 1;
    background-color: #ffcb7b;
    overflow-y: scroll;
    min-height: 82.5px;
    height: calc(20vh + 10px);
    max-height: 206.25px;
    min-width: 250px;
    width: calc(100% - 4*12.5px);
}

.innate-content_div1 {
    position: relative;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid white;
    cursor: pointer;
    width: 100%;
    height: 50px;
}

.innate-content_div1:hover {background-color: #FFEBCD;}

.innate-content_div2 {
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    height: 82.5px;
}

.noinnate {
    position: absolute;
    left: 25px;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.noinnate p {
    font-size: 22.5px;
    margin: 0;
}

.innatetext1 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 25px;
    height: 37.5px;
    font-size: 20px;
}

.innatetext2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    height: 37.5px;
    width: 100%;
}

.innatetext2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin-left: 7.5px;
    height: 100%;
    width: 37.5px;
    outline: 2px inset white;
}

.innatetext2 div:hover {background-color: #FFEBCD;}

.innatetext2 div p {
    font-size: 17.5px;
    margin: 0;
}

.show {display:block;}

.disable_click {pointer-events: none;}

.opacity {opacity: 0.5;}


@media (min-width: 1012.5px) and (max-height: 820px) {
    .innate-content {
        bottom: 100%;
        height: 240px;
        max-height: 240px;
    }
}

@media (max-width: 1012.5px) {
    .innatebtn {
        padding: 10px;
        font-size: 18px;
    } .innate-content {
        height: 236px;
        max-height: 236px;
    } .noinnate p {
        font-size: 20px;
    } .innatetext1 p {
        font-size: 18px;
    }
}

