.gemdropdown1 {
    display: inline-block;
    position: relative;
    margin-left: 12.5px;
    outline: 2px outset white;
}

.gemdropdown2 {
    display: inline-block;
    position: relative;
    margin-left: 4.5px;
    outline: 2px outset white;
}

.gemdropdown3 {
    display: inline-block;
    position: relative;
    margin-left: 4.5px;
    outline: 2px outset white;
}

.gembtn {
    background-color: #ffcb7b;
    width: 70px;
    height: 62.5px;
    border: none;
    cursor: pointer;
    background-image: url("../../images/gems/Diamond.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 75%;
}

.gembtn:hover {background-color: darkgoldenrod;}

.gem-content {
    display: none;
    position: absolute;
    margin-top: 7.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    outline: 2px double #00008B;
    z-index: 1;
    background-color: #ffcb7b;
    overflow-y: scroll;
    min-height: 100px;
    height: calc(41vh - 55px);
    max-height: 350px;
}

.gem-content_div {
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;;
    cursor: pointer;
    width: 200px;
    height: 62.5px;
}

.gem-content_div:hover {background-color: #FFEBCD;}

.gempic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /*position: absolute overrides display:block to start new line */
    left: 0%;
    width: 70px;
    height: 62.5px;
}

.gempic img {
    width: 75%;
    height: 75%;
    object-fit: contain;
}

.nogem {
    position: absolute;
    left: 70px;
    height: 62.5px;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
}

.gemtext1 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 70px;
    height: 31.25px;
}

.gemtext1 p {
    font-size: 20px;
    margin: 0;
}

.gemtext2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 70px;
    height: 31.25px;
}

.gemtext2 p {
    font-size: 15px;
    margin: 0;
}

.show {display:block;}











